.breakdown_group{
    margin: 20px 100px 0 100Px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
}

.breakdown_description{
    background-color: #FF6060;
    color: white;
    border-radius: 5px;
    margin: 1.5em auto 0;
    padding: .6em 1em;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desvription_content{
        background: rgba(246, 246, 246, 1);
        color: #FF6060;
        font-size: 20px;
        padding: .8em;
        line-height: 25.67px;
        position: relative;
        top: -1.5rem;
        z-index: -1;
        height: 60%;
        border-radius: 10px;
}


@media (max-width: 768px) {
    .breakdown_group {
            width: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            margin-bottom: 50px;
        }
    }