
.main_container{
    color: #FF6060;
}

h1{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 51.34px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

h2{
    font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 25.67px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
}



.Appartement_describ{
    flex-grow: 1;
}


.Appartement_group {
    display: flex;
  
}



.dropdown{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap : 5rem; 
    margin-bottom: 60px;
}
.title_description{
    background-color: #FF6060;
    color: white;
    border-radius: 5px;
    margin: 1.5em auto 0;
    padding: .6em 1em;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.description_content{
    background: rgba(246, 246, 246, 1);;
    color: #FF6060;
    font-size: 20px;
    padding: .8em;
    line-height: 25.67px; 
    position: relative; 
    top: -1.5rem;
    z-index: -1;
    height: 65%;
    border-radius: 10px;
}

.list{
    background: rgba(246, 246, 246, 1);;
    color: #FF6060;
    font-size: 20px;
    padding: .8em;
    line-height: 25.67px;
    position: relative;
    top: -1.5rem;
    z-index: -1;
    list-style: none;
    height: 65%;
    border-radius: 10px;
}

.fas {
   font-size: 34px;
   cursor: pointer;
}


@media (min-width:0px) and (max-width:320px) {

        h1 {
            
            font-size: 100%;
            
        }
        
    .dropdown {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0;
        margin-bottom: 60px;
        align-items: center;
    }

    .description {
        width: 95%;
    }

    .equipements {
        width: 95%;
    }

    .image-counter {
        display: none;
    }
}

@media (min-width:320px) and (max-width:767px) {
   
        

        .dropdown {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 0;
            margin-bottom: 60px;
            align-items: center;
        }
   
        .description {
            width: 95%;
        }
    
        .equipements {
            width: 95%;
        }
    
    
}
